<nav class="navbar navbar-inverse navbar-static-top margin-0" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle border-primary" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-tasks"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="">
                <a href="#" style="height:50px;">SIDCASOFT  </span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href='#'>Cambiar contraseña</a></li>
                    <li><a href='#' onclick="cerrarSesion()">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</nav>
